#Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Model files (optional but you can commit if its small)
*.pkl

# Data files
*.csv

#jupyter
.ipynb_checkpoints

#IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Plots
*.png
!feature_importance.png
!predictions_plot.png
